/* ESTILOS PADRÕES */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.tx-i {
  font-style: italic;
}

.tx-b {
  font-weight: bold;
}

.fw-1 {
  font-weight: 500;
}

.fw-2 {
  font-weight: 600;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pd-1 {
  padding: 1rem;
}

.pd-2 {
  padding: 2rem;
}

.pd-3 {
  padding: 3rem;
}

.pdt-1 {
  padding-top: 1rem;
}

.pdt-2 {
  padding-top: 2rem;
}

.pdt-3 {
  padding-top: 3rem;
}

.pdb-1 {
  padding-bottom: 1rem;
}

.pdb-2 {
  padding-bottom: 2rem;
}

.pdb-3 {
  padding-bottom: 3rem;
}

.pdl-1 {
  padding-left: 1rem;
}

.pdl-2 {
  padding-left: 2rem;
}

.pdl-3 {
  padding-left: 3rem;
}

.pdr-1 {
  padding-right: 1rem;
}

.pdr-2 {
  padding-right: 2rem;
}

.pdr-3 {
  padding-right: 3rem;
}

.br-1 {
  border-radius: 1.25rem;
}

.br-2 {
  border-radius: 2rem;
}

.br-3 {
  border-radius: 3rem;
}

/* FIM ESTILOS PADRÕES */

/* CONFIGURAÇÕES GERAIS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-primary: #3d316a;
  --color-secondary: #00b6ed;
  --color-third: #bcb0e9;
  --color-black: #06131d;
  --color-white: #f6f6f6;
}

body {
  background-color: var(--color-primary);
  height: 100vh;
}

.interface {
  max-width: 80rem;
  margin: 0 auto;
}

.container {
  display: flex;
}

h2.titulo {
  font-size: 3rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
}

h2.titulo span {
  color: var(--color-secondary);
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
}

/* FIM DAS CONFIGURAÇÕES GERAIS */

/* ESTILO BOTÕES */

.btn-contato button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-black);
  color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 1.25rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover,
form .btn-enviar input[type="submit"]:hover {
  box-shadow: 0 0 1rem var(--color-secondary);
  transform: scale(1.05);
}

.btn-social button {
  width: 4rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.2rem;
  background-color: var(--color-secondary);
  transition: 0.2s;
}

/* FIM ESTILOS BOTOES */

/* ESTILO DO CABEÇALHO */

header {
  padding: 1.5rem 4%;
  background-color: var(--color-black);
  position: fixed;
  width: 100%;
  height: 16%;
  z-index: 2;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 5rem;
}

header a {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: var(--color-primary);
  transform: scale(1.05);
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 2rem;
}

header .menu-mobile {
  display: none;
}

/* JS MENU MOBILE */
.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}
/* FIM JS MENU */

/* ESTILO DO MENU MOBILE */

.btn-icon-menu i {
  color: var(--color-secondary);
  font-size: 2.5rem;
}

.menu-mobile {
  background-color: var(--color-black);
  height: 90vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.menu-mobile .btn-menu-mobile {
  padding: 2rem 8%;
}

.menu-mobile .btn-menu-mobile i {
  color: var(--color-secondary);
  font-size: 1.75rem;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.25rem 4%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.overlay-menu {
  background: #06131dcb;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
}

/* ESTILO DO TOPO DO SITE */

section.home {
  padding: 6rem 4%;
  margin: 0 2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

section.home .container {
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.home h1 {
  color: var(--color-primary);
  line-height: 3rem;
}

.home .text-top h1 span {
  color: var(--color-secondary);
  font-style: italic;
}

.home .text-top p {
  color: var(--color-secondary);
  font-size: 1.25rem;
  font-weight: 400;
}

.home .img-logofolio img {
  position: relative;
  animation: float 2s ease-in-out infinite alternate;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 0.5rem var(--color-primary);
  width: 18rem;
}

@keyframes float {
  0% {
    top: 2rem;
  }
  100% {
    top: 5rem;
  }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
  padding: 4rem 4%;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

section.especialidades .container {
  gap: 2rem;
}

.especialidades .especialidades-box {
  background-color: var(--color-black);
  color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.25rem var(--color-secondary);
}

.especialidades .especialidades-box i {
  font-size: 3rem;
}

.especialidades .especialidades-box h3 {
  font-size: 2rem;
}

.especialidades .especialidades-box p {
  font-size: 1rem;
}

/* ESTILO DO SOBRE */

section.sobre {
  padding: 4rem 4%;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--color-black);
}

section.sobre .container {
  align-items: center;
  gap: 5rem;
}

.sobre .img-sobre img {
  width: 15rem;
  height: 25rem;
}

.sobre .txt-sobre h2 {
  color: var(--color-white);
  font-size: 2rem;
  text-transform: uppercase;
}

.sobre .txt-sobre h2 span.designer {
  color: var(--color-secondary);
  display: block;
}

.sobre .txt-sobre p {
  color: var(--color-white);
  font-size: 1.25rem;
  text-align: justify;
}

.sobre .txt-sobre p span {
  color: var(--color-secondary);
  font-style: italic;
  font-weight: 550;
}

/* ESTILO DO PORTFOLIO */

section.portfolio {
  padding: 4rem 4%;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

section.portfolio .container {
  justify-content: space-around;
  gap: 1.25rem;
}

.portfolio h2 {
  color: var(--color-primary);
}

.img-portfolio {
  width: 15rem;
  height: 25rem;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 2rem;
  position: relative;
  gap: 1rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
}

.img-portfolio:hover {
  background-position: 100% 100%;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-black);
  opacity: 0;
  transition: 0.5s;
}

.overlay-portfolio:hover {
  opacity: 1;
}

/* ESTILO DO FORMULARIO */

section.formulario {
  padding: 4rem 4%;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

.formulario form {
  max-width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--color-third);
}

form textarea {
  resize: none;
  min-height: 10rem;
}

form .btn-enviar {
  text-align: center;
}

form .btn-enviar input[type="submit"] {
  width: 6rem;
  background-color: var(--color-secondary);
  font-weight: 700;
  color: var(--color-white);
  cursor: pointer;
  transition: 0.2s;
}

/* ESTILO DO FOOTER */

footer {
  padding: 4rem 4%;
  margin: 0 2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

footer .container {
  justify-content: space-between;
  gap: 2rem;
}

footer .border-footer {
  border-top: 0.2rem solid var(--color-primary);
}

footer .copyright {
  margin-top: 3rem;
  color: var(--color-primary);
  font-style: italic;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 70rem) {
  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  header {
    position: relative;
    background-color: transparent;
  }

  header img {
    width: 4rem;
  }

  /* CLASSES GERAIS */

  .container {
    flex-direction: column;
  }

  h2.titulo {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }

  /* TOPO DO SITE */

  @keyframes float {
    0% {
      top: 0rem;
    }
    100% {
      top: 3rem;
    }
  }

  .home .container {
    flex-direction: column-reverse;
  }

  section.home .container {
    gap: 4rem;
  }

  section.home {
    padding: 1rem 8%;
  }

  .home h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .home .img-logofolio img {
    width: 100%;
  }

  /* ESPECIALIDADES */

  section.especialidades {
    padding: 3rem 8%;
    gap: 0.25rem;
  }

  .especialidades .titulo {
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin: 1.25rem;
  }

  /* SOBRE */

  section.sobre {
    padding: 3rem 8%;
  }

  .sobre .container {
    margin: 0.25rem;
  }

  .sobre .txt-sobre h2 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  .sobre .btn-social {
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  .img-sobre img {
    width: 100%;
  }

  /* PORTFOLIO */

  section.portfolio {
    padding: 3rem 8%;
  }

  .portfolio .titulo {
    font-size: 1.75rem;
  }

  section.portfolio .container {
    gap: 1rem;
  }

  .img-portfolio {
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
  }

  /* FORM */

  section.formulario {
    padding: 3rem 8%;
  }

  .formulario .titulo {
    font-size: 1.75rem;
  }

  /* FOOTER */

  footer .container {
    flex-direction: column;
    align-items: center;
  }

  footer .btn-social {
    display: flex;
    flex-direction: row;
  }
}
